#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 600px;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
<<<<<<< HEAD
    border-radius: 10px;
=======
>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6
}
#chat-window {
    height: 85%;
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
<<<<<<< HEAD
    border-radius: 10px;
=======
>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6
}
#user-input {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 5px;
    box-sizing: border-box;
    height: 40px;
<<<<<<< HEAD
    border-radius: 10px;
}
#send-btn {
    width: 55px;
    background-color: #24A159;
=======
}
#send-btn {
    width: 55px;
    background-color: #4CAF50;
>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    height: 40px;
<<<<<<< HEAD
    border-radius: 10px;
=======
>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6

}
#send-btn:hover {
    opacity: 0.8;
}

.user-message, .response-message {
    margin-bottom: 10px; /* Adds space between messages */
}

.user-message {
    color: blue;
}

.response-message {
    color: rgb(0, 25, 0);
}

<<<<<<< HEAD
#chat-container.minimized {
    background-image: url('./canvas_reversed_logo_green_smaller.png') !important; /* Set the path to your image */
    background-size: contain; /* Resize the image to fit the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}

=======
>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6
#chat-container.minimized, #chat-toggle {
    width: 50px; /* Circle diameter */
    height: 50px; /* Circle diameter */
    border-radius: 50%; /* Makes it a circle */
<<<<<<< HEAD
    background-color: #24A159; /* Circle background color */
=======
    background-color: #4CAF50; /* Circle background color */
>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6
    color: white; /* Text/icon color */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer;
    z-index: 1001; /* Ensures it's above other content */
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px; /* Adjust based on the icon size you prefer */
    text-align: center;
}

<<<<<<< HEAD
#chat-container.minimized img {
    width: 100%;
    height: auto;
}

=======
>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6

/* Hides everything when minimzed */
#chat-container.minimized #chat-window,
#chat-container.minimized #user-input,
#chat-container.minimized #send-btn,
#chat-container.minimized #chat-header {
    display: none;
}

.hidden {
    display: none;
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#close-btn {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

<<<<<<< HEAD
/* #header-logo {
    
    margin-right: 10px;
    margin-top: 5px;
} */
=======

>>>>>>> 261dd2b2ec2e3ad3e21637b29e71be2a38cc07c6
