#chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 600px;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#chat-window {
    height: 85%;
    overflow-y: auto;
    background-color: #f1f1f1;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}
#user-input {
    width: calc(100% - 60px);
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 5px;
    box-sizing: border-box;
}
#send-btn {
    width: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#send-btn:hover {
    opacity: 0.8;
}

.user-message, .response-message {
    margin-bottom: 10px; /* Adds space between messages */
}

.user-message {
    color: blue;
}

.response-message {
    color: rgb(0, 25, 0);
}
